*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

#card{
    background-image: url(https://d3h1lg3ksw6i6b.cloudfront.net/media/image/2020/04/30/0333f53058fb411f8891c7483f66bce1_Din+Tia+Fung+Xiaolongbao+1.jpg);
    width: 600px;
    background-size: cover;
    margin: 100px auto 0;
    padding: 500px 250px 150px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.8s;
}

#card:hover{
    transform: scale(1.2);
}

#content{
    background-color: rgba(175, 172, 172, 0.411);
    padding: 50px 100px;
    border-radius: 25px;
}

h1{
    margin-bottom: 30px;
}

ul{
    padding-top: 20px;
    padding-left: 30px;
}

li{
    margin-bottom: 8px;
}

footer{
    text-align: center;
    font-size: 80px;
    margin-top: 80px;
    letter-spacing: 50px;
    padding-left: 50px;
    color: rgba(0, 0, 0, 0.3);
}

body{
    background: rgb(180, 176, 176);
}